#e-mobile{
	margin-top: 20px;
	margin-bottom: 20px;
}

#sub_h1{
	font-family: 'Anton', sans-serif;
	margin-left: 100px;
	margin: 50px;
}

#math_sub_card{
	margin-top: 30px;
}

#eng_sub_card{
	margin-top: 30px;
}

#hindi_sub_card{
	margin-top: 30px;
}

#sst_sub_card{
	margin-top: 30px;
}

#sci_sub_card{
	margin-top: 30px;
}

#sub_name_sci{
	text-align: center;
	margin-top: 25px;
}

#sub_name_math{
	text-align: center;
	margin-top: 25px;
}

#sub_name_sst{
	text-align: center;
	margin-top: 25px;
}

#sub_name_eng{
	text-align: center;
	margin-top: 25px;
}

#sub_name_hindi{
	text-align: center;
	margin-top: 25px;
}

html{
	scroll-behavior: smooth;
}

#booknow_h1{
	font-family: 'Anton', sans-serif;
	margin-left: 100px;
	margin: 50px;
}

#brand_footer{
	text-align: center;
	color: white;
	margin-top: 0px;
}

#copyright_footer{
	text-align: center;
	color: white;
	margin-bottom: 0px;
}

#footer_site{
	height: 150px;
}

#gmap_h1{
	font-family: 'Anton', sans-serif;
	margin-left: 100px;
	margin: 50px;
}

#carouselFadeExampleIndicators{
	margin-top: 55px;
}

.navbar-brand img{
	height: 30px;
}

#f_l_foo{
	text-align: center;
	color: white;
	margin-bottom: 0px;
}

#ig_f_l{
	text-align: center;
	color: white;
	margin-bottom: 0px;
}

a #fb_f_l{
	color: white;
}

a #fb_f_l:hover{
	color: #4267B2;
	transition: 0.3s;
}

a #ig_f_l:hover{
	color: #DD2A7B;
	transition: 0.3s;
}

#li_f_l{
	color: white;
}

a #li_f_l:hover{
	color: #0E76A8;
	transition: 0.3s;
}













