#e-mobile{
	margin-top: 20px;
	margin-bottom: 20px;
}

#sub_h1{
	font-family: 'Anton', sans-serif;
	margin-left: 100px;
}

#math_sub_card{
	margin-top: 30px;
}

#eng_sub_card{
	margin-top: 30px;
}

#hindi_sub_card{
	margin-top: 30px;
}

#sst_sub_card{
	margin-top: 30px;
}

#sci_sub_card{
	margin-top: 30px;
}

#sub_name_sci{
	text-align: center;
	margin-top: 25px;
}

#sub_name_math{
	text-align: center;
	margin-top: 25px;
}

#sub_name_sst{
	text-align: center;
	margin-top: 25px;
}

#sub_name_eng{
	text-align: center;
	margin-top: 25px;
}

#sub_name_hindi{
	text-align: center;
	margin-top: 25px;
}

















