#e-mobile{
	margin-top: 20px;
	margin-bottom: 20px;
}

#sub_h1{
	font-family: 'Anton', sans-serif;
	margin-left: 100px;
	margin: 50px;
}

#math_sub_card{
	margin-top: 30px;
}

#eng_sub_card{
	margin-top: 30px;
}

#hindi_sub_card{
	margin-top: 30px;
}

#sst_sub_card{
	margin-top: 30px;
}

#sci_sub_card{
	margin-top: 30px;
}

#sub_name_sci{
	text-align: center;
	margin-top: 25px;
}

#sub_name_math{
	text-align: center;
	margin-top: 25px;
}

#sub_name_sst{
	text-align: center;
	margin-top: 25px;
}

#sub_name_eng{
	text-align: center;
	margin-top: 25px;
}

#sub_name_hindi{
	text-align: center;
	margin-top: 25px;
}

html{
	scroll-behavior: smooth;
}

#booknow_h1{
	font-family: 'Anton', sans-serif;
	margin-left: 100px;
	margin: 50px;
}

#brand_footer{
	text-align: center;
	color: white;
	margin-top: 0px;
}

#copyright_footer{
	text-align: center;
	color: white;
	margin-bottom: 0px;
}

#footer_site{
	height: 150px;
}

#gmap_h1{
	font-family: 'Anton', sans-serif;
	margin-left: 100px;
	margin: 50px;
}













